.App-Login {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.App-Login h1 {
  color: white;
  font-size: 60px;
}
.App-Login h3 {
  color: white;
  font-size: 20px;
}

.App-Login form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.App-Login form input {
  height: 60px;
  width: 400px;
  font-size: 24px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #8a8a8a;
}

.App-Login form input:focus {
  outline-color: #6A799B;
}

.App-Login form button[type="submit"] {
    height: 50px;
    width: 130px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background: #6A799B;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.App-Login form button[type="submit"]:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.input-error {
  background-color: #fdaa9d;
}
